# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.
# These owners will be the default owners for everything in the repo.
*       @Truba @doms99 @lukaknezic